<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="redirect all article requests" stopProcessing="false">
          <match url="article/(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="/Article/Index?q={R:1}" appendQueryString="true" logRewrittenUrl="false" />
        </rule>
        <rule name="redirect all news requests" stopProcessing="false">
          <match url="news/(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="/News/Index?q={R:1}" appendQueryString="true" logRewrittenUrl="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>