@{
    ViewData["Title"] = "About";
}
    <div class="w3-main">
        <div class="w3-row w3-padding-64">
            <div class="w3-container">
                <h1 class="w3-text-teal">Welcome to my page</h1>
                
            </div>
        </div>

        <!-- END MAIN -->
    </div>
