@model IEnumerable<NewsModel>

@{
    ViewData["Title"] = "News";
}

<div class="w3-main">
    <div class="w3-row w3-padding-64">
        <div class="w3-container">
            <h1 class="w3-text-teal">Latest news</h1>
            @foreach (var item in Model)
            {
                <img src="/files/@Html.DisplayFor(modelItem => item.image)" alt="item.image" width="151px" height="151px" style="float:left;padding: 5px;">
                <h3><a href="Article/@Html.DisplayFor(modelItem => item.id)">@Html.DisplayFor(modelItem => item.heading)</a></h3>
                <p>@Html.DisplayFor(modelItem => item.firstText)</p>
                <div style="clear:both;"></div>
                <hr>
            }
        </div>
    </div>
    <!-- END MAIN -->
</div>